# Performance on ordered random strings 
BINS=Strings/InsertionPtr Strings/MergePtr Strings/BaseQsortMedianOfThree Strings/BucketLinkedListSort17576Ptr Strings/StraightHeapSort Strings/QSortWorstCaseFour 

# configure suite
TRIALS=100
LOW=4096
HIGH=131072
INCREMENT=*2
EXTRAS=-a
