# 16384: Performance (in seconds) on swap n/4, 4
BINS=Strings/BucketLinkedListSort17576Ptr Strings/BaseQsortMedianOfThree Strings/StraightHeapSort Strings/MedianSort Strings/QSortWorstCaseFour 

# configure suite
EXTRAS=-a -u 4096,4
TRIALS=100
LOW=16384
HIGH=16384
INCREMENT=*2
