# 131072: Performance (in seconds) on swap n/4, 4
BINS=Strings/BucketLinkedListSort17576Ptr Strings/BaseQsortMedianOfThree Strings/StraightHeapSort Strings/MedianSort Strings/QSortWorstCaseFour 

# configure suite
EXTRAS=-a -u 32768,4
TRIALS=10
LOW=131072
HIGH=131072
INCREMENT=*2
