# Performance (in seconds) on swap 16,8
BINS=Strings/BucketLinkedListSort17576Ptr Strings/BaseQsortMedianOfThree Strings/StraightHeapSort Strings/MedianSort Strings/QSortWorstCaseFour

# configure suite
EXTRAS=-a -u 16,8
TRIALS=100
LOW=16
HIGH=131072
INCREMENT=*2
