# Performance (in seconds) on killer median of three data
BINS=../Doubles/BaseQsortMedianOfThree ../Doubles/MedianSort ../Doubles/BucketLinkedListSortPtr ../Doubles/StraightHeapSort ../Doubles/MedianSortWorstCase ../Doubles/QSortWorstCaseFour ../Doubles/QSortWorstCaseFive

# configure suite
EXTRAS=-a -k
TRIALS=100
LOW=16
HIGH=131072
INCREMENT=*2
