# Performance (in seconds) on swap n/4, 4
BINS=../Strings/BaseQsortMedianOfThree ../Strings/MedianSort ../Strings/InsertionPtr ../Strings/BucketLinkedListSort17576Ptr ../Strings/StraightHeapSort ../Strings/MedianSortWorstCase ../Strings/QSortWorstCaseFour ../Strings/QSortWorstCaseFive ../Strings/SelectionSort

# configure suite
EXTRAS=-a -u 1024,4
TRIALS=100
LOW=4096
HIGH=4096
INCREMENT=*2
