# InsertionSort bulk move vs. InsertionSort
BINS=../Strings/MedianSortWorstCaseIncorrect ../Strings/MedianSortWorstCaseFour ../Strings/MedianSortWorstCaseFive ../Strings/MedianSortLeftPivot ../Strings/MedianSortMedianOfThree ../Strings/MedianSort

# configure suite
TRIALS=10
LOW=256
HIGH=262144
INCREMENT=*2
