# Performance (in seconds) on swap n/4, 4
BINS=../Strings/BaseQsortMedianOfThree ../Strings/MedianSort ../Strings/InsertionPtr ../Strings/BucketLinkedListSort17576Ptr ../Strings/StraightHeapSort ../Strings/MedianSortWorstCase ../Strings/SelectionSort

# configure suite
EXTRAS=-a -u 16384,4
TRIALS=10
LOW=65536
HIGH=65536
INCREMENT=*2
