# Performance (in seconds) on swap n/4, 4
BINS=../Doubles/BaseQsortMedianOfThree ../Doubles/MedianSort ../Doubles/InsertionPtr ../Doubles/BucketLinkedListSortPtr ../Doubles/StraightHeapSort ../Doubles/MedianSortWorstCase ../Doubles/SelectionSort

# configure suite
EXTRAS=-a -u 2048,4
TRIALS=10
LOW=8192
HIGH=8192
INCREMENT=*2
