# Performance (in seconds) on random doubles
BINS=../Doubles/BaseQsortMedianOfThree ../Doubles/MedianSort ../Doubles/InsertionPtr ../Doubles/BucketLinkedListSortPtr ../Doubles/StraightHeapSort ../Doubles/MedianSortWorstCase ../Doubles/SelectionSort

# configure suite
EXTRAS=
TRIALS=10
LOW=16
HIGH=131072
INCREMENT=*2
