# Performance (in seconds) on random strings
BINS=../Strings/BaseQsortMedianOfThree ../Strings/MedianSort ../Strings/InsertionPtr ../Strings/BucketLinkedListSort17576Ptr ../Strings/StraightHeapSort ../Strings/MedianSortWorstCase ../Strings/SelectionSort

# configure suite
TRIALS=10
LOW=16
HIGH=131072
INCREMENT=*2
