# Performance (in seconds) on killer median of three data
BINS=../Doubles/BaseQsortMedianOfThree ../Doubles/MedianSort ../Doubles/InsertionPtr ../Doubles/BucketLinkedListSortPtr ../Doubles/StraightHeapSort ../Doubles/MedianSortWorstCase ../Doubles/SelectionSort

# configure suite
EXTRAS=-a -k
TRIALS=10
LOW=16
HIGH=131072
INCREMENT=*2
